* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #FBF7F0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
    margin-left: 220px;
    background: #f5f5f5;
}

.login-body {
    background: linear-gradient(#00000080, #00000080),
                url('../img/login-bg.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 300px;

    box-shadow: 0 10px 30px #00000066;
}

.login-container h2 {
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
}

header {
    background: linear-gradient(#00000080, #00000080),
                url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;

    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding: 40px 20px;

    box-shadow: 0 4px 10px #0000004d;
}
header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #000000b3;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;

    background: linear-gradient(#00000080, #00000080),
                url('../img/sidebar-bg.jpg');

    background-size: cover;
    background-position: center;

    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    transition: 0.3s;
    font-weight: bold;
}
nav a:hover {
    background: rgba(255,255,255,0.1);
    padding-left: 30px;
}

#products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card-producto {
    background: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 5px 15px #00000033;
    transition: 0.3s;
}

.card-producto:hover {
    transform: translateY(-10px) scale(1.03);
}

.producto-img {
    overflow: hidden;
    border-radius: 10px;
}

.producto-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: 0.3s;
}

.producto-img:hover img {
    transform: scale(1.1);
}

button {
    background: #6f4e37;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background: #5a3e2b;
    transform: scale(1.05);
}

.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;

    box-shadow: 0 3px 10px #0000001a;
}


#btn-comprar {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 15px 20px;
    background: #6f4e37;
    color: white;
    border: none;
    border-radius: 50px;

    font-size: 16px;
    cursor: pointer;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;

    z-index: 1000;
}

#btn-comprar:hover {
    background: #218838;
    transform: scale(1.1);
}
.controles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.eliminar {
    background: red;
}

.total {
    font-weight: bold;
    text-align: right;
}

footer {
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('../img/footer-bg.jpg');

    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;
    padding: 20px;

    margin-left: 220px;
}


